<h1>Edit Product</h1>

<form action="/products/<%= @product.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>name: <input type="text" name="name" value="<%= @product.name%>"></p>
  <p>price: <input type="text" name="price" value="<%= @product.price%>"></p>
  <p>description: <input type="text" name="description" value="<%= @product.description%>"></p>
  <p>supplier_id: <input type="text" name="supplier_id" value="<%= @product.supplier_id%>"></p>

  <p><input type="submit" value="Update Product"></p>
</form>


